<header>
    <nav>
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
        <a href="/about">About Us</a>
    </nav>

    <form action="/" method="get">
        <input name="key" type="text" maxlength="20">
        <button type="submit">search</button>
    </form>
</header>